/* Global */
* {
  font-family: Verdana, sans-serif;
  background-color:rgb(64,64,64);
}

.content {
  position: fixed;
  top: 0;
  background: rgb(64,64,64);
  color: #f1f1f1;
  width: 100%;
}

.user {
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  text-align: center;
  font-size: 16px;
}

.input {
  background: rgb(128,128,128);
  font-size: 16px;
  width: 30%;
  padding: 2px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #347d37;
}

/* Title Class */
/* .title {

} */

/* Heading 2 */
h2 {
  color: whitesmoke;
  font-size: 32px;
}

/* Heading 5 */
h5 {
  color: grey;
  font-size: 10px;
}

/* Body */
/* body {

} */

/* Hyperinks */
a {
  color: whitesmoke;
  font-size: 25px;
}

/* Paragraphs */
/* p {

} */

/* Background Video */
video {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    filter:opacity(60%);
    transform: translateX(10%) translateY(40%);
  }

/* Text Input */
input, select, textarea{
    color: whitesmoke;
}

button{
  color: whitesmoke;
}